/*.slide-container {
    min-height: 50px;
    position: relative;
    background-color:#DFF0D8;
    width:200px;
    text-align:center;
    top:40%;
    left:40%;
    margin:auto;
}
*/
.slide-container
{
/*width:200px;
height:200px;
*/
min-height:50px;
position:fixed;
top:50%;
margin-left:40%;
margin-right:40%;
/*margin-left:-100px;
margin-top:-100px;
*/
z-index:500;
background-color:#DFF0D8;
}
.slide-container > * {
    display:block;
    width:100%;
   /* top:40%;
    left:40%;
    right:0;
    bottom:0;
    */
    padding:10px;
}
.slide-hide, .slide-show {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}
.slide-hide {
    position: relative;
    top: 0;
}
.slide-hide.slide-hide-active {
    position: absolute;
    top: -100px;
}
.slide-show {
    position: absolute;
    top: 100px;
}
.slide-show.slide-show-active {
    position: relative;
    top: 0px;
}
